*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.container{
    box-sizing: border-box ;
    margin-top: 30px;
    width: 50%;
    height: 550px;
    border: 1px solid #e0e0e0;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content:space-around;
}
.container input {
    border: 1px solid #e0e0e0;
}
#heading{margin-top: 0;
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto;
        border-bottom: 1px solid #e0e0e0;
       
    }
    #heading > #cart{
       height: 50px;
       width: 350px;
    }
.container h1{
    text-align: center;
}

.first-row{
     display: flex;
}


.owner{
    width: 100%;
    margin-right: 40px;
}

.input-field{
    border: 1px solid #999;
}

.input-field input{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
}

.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection select{
    padding: 10px 20px;
}

a{
    background-color:#f43397 ;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

a:hover{
    background-color:#FF4081;
}

.cards img{
    width: 100px;
}
.bord{
    padding: 5%;
    padding-bottom: 7%;
}
#confirm-btn{
    background-color: #f43397;
    border: none;
}
.navbar{
        display: grid;
        grid-template-columns: 10% 10% 60% 20%;
        box-shadow: 1px 1px 2px 0px gray;
        width: 100%;
        position: fixed;
        top: 0px;
        background-color: white;
        
}
.navbar > div{
    margin: auto;
        
}
#need{
    padding-top: 0.8%;
}